
<form novalidate class="meal-form ideal" action="">

    <div class="ui-status error">Se ha producido un error</div>

    <div class="ui-status loading">Sending comment ...</div>

    <div class="ui-status ideal">
        <div class="form-control-group">
            <label for="name">Name</label>
            <input id="name" type="text" name="name" placeholder="Enter your name" required>
        </div >

        <div class="form-control-group">
            <label for="email">Email</label>
            <input id="email" type="text" name="email" placeholder="Enter your email" required>
        </div>
       
        <div class="form-control-group">
            <label for="comments">Comment</label>
            <input class="comments" id="comments" type="text" name="comments" placeholder="Enter your comment..." required>
        </div>
        <div class="form-control-group">
                <button> Send</button>
        </div>
              
    </div>
</form>