
<section class="meals-list ideal">

    <div class="ui-status empty">
        No hay datos
    </div>

    <div class="ui-status error">
        Se ha producido un error.
    </div>

    <div class="ui-status loading">
        Cargando...
    </div>

    <div class="ui-status ideal">
        <a class="meal-link" href="detail.html">
        <article class="meal">
            <img class="picture" src="img/brownie.jpg" alt="Imagen de Brownie">
            <div class="name"> <span>Brownie</span> </div>
            <div class="type">Postre</div>
        </article>
        </a>
        
        <a class="meal-link" href="detail.html">
            <article class="meal">
                <img class="picture" src="img/cocido.jpg" alt="Imagen de cocido">
                <div class="name"><span>Cocido </span> </div>
                <div class="type">Plato principal</div>
            </article>
        </a> 
        
        <a class="meal-link" href="detail.html">
        <article class="meal">
            <img class="picture" src="img/arroz-horno.jpg" alt="Imagen de Arroz al horno">
            <div class="name"><span>Arroz al horno</span> </div>
            <div class="type">Plato principal</div>
        </article>
        </a>
        
        <a  class="meal-link" href="detail.html">
        <article class="meal">
            <img class="picture" src="img/arroz-longanizas.jpg" alt="Imagen de Arroz con longanizas">
            <div class="name"><span>Arroz con longanizas</span> </div>
            <div class="type">Plato principal</div>
        </article>
        </a>
    
        <a class="meal-link" href="detail.html">
        <article class="meal">
            <img class="picture" src="img/croquetas.jpg" alt="Imagen de Croquetas">
            <div class="name"><span>Croquetas</span> </div>
            <div class="type">Entrante</div>
        </article>
        </a>
    
        <a class="meal-link" href="detail.html">
        <article class="meal">
            <img class="picture" src="img/musaka.jpg" alt="Imagen de Musaka">
            <div class="name"><span>Musaka</span> </div>
            <div class="type">Plato principal</div>
        </article>
        </a>
    
        <a class="meal-link" href="detail.html">
        <article class="meal">
            <img class="picture" src="img/pollo-horno.jpg" alt="Imagen de Pollo al horno">
            <div class="name"><span>Pollo al horno</span></div>
            <div class="type">Plato principal</div>
        </article>
        </a>
    
        <a class="meal-link" href="detail.html">
        <article class="meal">
            <img class="picture" src="img/spaguetis-gambas.jpg" alt="Imagen de Spaguettis con gambas">
            <div class="name"><span>Spaguetti con gambas</span> </div>
            <div class="type">Plato principal</div>
        </article>
        </a>
    
        <a class="meal-link" href="detail.html">
        <article class="meal">
            <img class="picture" src="img/tarta-queso.jpg" alt="Imagen de tarta de queso">
            <div class="name"><span>Tarta de queso</span> </div>
            <div class="type">Postre</div>
        </article>
        </a>
    
        <a class="meal-link" href="detail.html">
        <article class="meal">
            <img class="picture" src="img/weihnachtsplaetzchen.jpg" alt="Imagen de Weihnachtsplaetzchen">
            <div class="name"><span>Weihnachts plaetzchen</span> </div>
            <div class="type">Snack</div>
        </article>
        </a>
    </div>
    
</section>